@charset "utf-8";
/* CSS Document */

.grid-major {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #FFFFFF;
  padding: 0px;
}
.grid-minor {
  background-color: #E0E0E0;
  border: 1pt solid #000000;
  padding: 20px;
  font-size: 24pt;
  text-align: center;
}

.nav-major {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	padding: 0px;
	font-size: 11pt;
}

.nav-minor {
	background-color: #F0F0F0;
	border: 1pt solid #000000;
	padding: 1px;
	text-align: center;
}