@charset "utf-8";
/* CSS Document */

.grid-major {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #FFFFFF;
  padding: 0px;
}
.grid-minor {
  background-color: #E0E0E0;
  border: 1pt solid #000000;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
.button-in-grid{
	max-height: 100%;
	max-width: 100%;
}